__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
.DS_Store
setup_repo.sh
app/.env
app/cache/claim_extraction
app/cache/community_reporting
app/cache/entity_extraction
app/cache/summarize_descriptions
app/cache/text_embedding
app/output
app/input