<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Index and Upload to Neo4j">
    </form>
    <form method="post" action="/trigger_neo4j_import">
        <input type="submit" value="Import latest knowledge graph to Neo4j (Skip Indexing)">
    </form>
</body>
</html>
